# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
extern _lstrlenA@4
extern _WriteConsoleA@20
extern _GetStdHandle@4
 
global conout
 
section .text
conout:
    mov edi, [esp+0x04]
    ;получить хэндл вывода
    push dword -11
    call _GetStdHandle@4
    mov ebx, eax
    push edi
    call _lstrlenA@4
    mov edx, eax
    
    ;вывод на экран
    push dword 0
    push eax
    push edx
    push edi
    push ebx
    call _WriteConsoleA@20
        
    ret 4
